table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    height: 20px;
    font-family: Dubai;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    width: 200px;
    padding: 10px;
    height: 20px;
}

thead {
    background-color: lightpink;
    font-family: Calibri;
}

tbody {
    background-color: palegoldenrod;
}